<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid mt-3 fixed-bottom mx-0">
  <footer class="text-center text-lg-start bg-light">
    <div class="container d-flex justify-content-center py-4">
      <button type="button" class="btn btn-primary rounded-circle mx-2">
        <mat-icon class="mt-1" aria-hidden="false">facebook</mat-icon>
      </button>
      <button type="button" class="btn btn-primary rounded-circle mx-2">
        <mat-icon class="mt-1" aria-hidden="false">email</mat-icon>
      </button>
      <button type="button" class="btn btn-primary rounded-circle mx-2">
           <mat-icon class="mt-1" aria-hidden="false">dashboard</mat-icon>
      </button>
      <button type="button" class="btn btn-primary rounded-circle mx-2">
        <mat-icon class="mt-1" aria-hidden="false">edit</mat-icon>
      </button>
    </div>
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">jffromparis</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
