<div class="container">
<div class="row my-5">
</div>
  <table datatable [dtOptions]="dtOptions" class="row-border hover shadow-lg">
    <thead>
      <tr>
        <th>ID</th>

        <th>Name</th>

        <th>username</th>

        <th>Email</th>

        <th>Role</th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor="let employee of employees">
       <td>{{ employee['id'] }}</td>
      <td>{{ employee['firstname'] }}</td>
      <td>{{ employee['name'] }}</td>
      <td>{{ employee['email'] }}</td>
      <td>{{ employee['role'] }}</td>
    </tr>
    </tbody>
  </table>


</div>
